.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  cursor: none;
  user-select: none;
  pointer-events: all;
  touch-action: none;
}

.errorText {
  color: rgba(255, 80, 80, 0.8);
  font-family: "Courier New", monospace;
  font-size: clamp(.9rem, 2vw, 1.4rem);
  text-align: center;
  line-height: 1.8;
  letter-spacing: 2px;
  opacity: .8;

  text-shadow:
    0 0 8px rgba(255,80,80,.4),
    0 0 20px rgba(255,0,0,.15);

  animation: flicker 3s infinite;
}

.errorText div:first-child {
  font-weight: bold;
}

@keyframes flicker {
  0%,18%,22%,25%,53%,57%,100% {opacity:.8}
  20%,24%,55% {opacity:.4}
}
